/* PARTIE HAUTE */

.main-content-top {
    color: #fff;
    padding: 25px;
    position: relative;
}
@media only screen and (max-width: 6000px) {
    .main-content-top img {
        display: none;
    }
}

/* PARTIE BASSE */

.container-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
    background: url(photo.png);
    background-size: cover;

}

.container-card .box {
    position: relative;
    width: 320px;
    height: 400px;
    color: rgb(255, 255, 255);
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.container-card .box:hover {
    transform: translateY(-20px);
}

.container-card .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000, #fff);
}

.container-card .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fff, #000);
    filter: blur(30px);
}

.container-card .box:nth-child(2)::before,
.container-card .box:nth-child(2)::after {
    background: linear-gradient(315deg, #000, #fff);
}

.container-card .box:nth-child(3)::before,
.container-card .box:nth-child(3)::after {
    background: linear-gradient(315deg, #fff, #000);
}

.container-card .box span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.container-card .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1) ;
    pointer-events: none;
}

.container-card .box .content {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.container-card .box .content h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.container-card .box .content p {
    font-size: 1.1em;
    color: white;
    margin-bottom: -70px;
    line-height: 1.4em;
}

.container-card .box .content a {
    display: inline-block;
    font-size: 2.1em;
    color: black;
    padding: 80px;
    text-decoration: none;
    font-weight: 1400;
}

.questions__title {
    font-size: 23px;
    padding: 10px;
    border-bottom: 2px solid #504b58;
}

.img_pc {
    display: flex;
    justify-content: center;
    align-items: center;
}